.mainnav ul {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.mainnav ul li {
  margin: 1rem 24px;
  list-style: none;
  font-weight: bold;
}
.link {
  text-decoration: none;
  color: black;
}
.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
}
.blogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blogItem {
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: var(--font-mono);
}
.description h1 {
  font-size: 35px;
}
.myImg {
  border-radius: 10px;
}
